[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
setuptools = "*"
wheel = "*"
pytablewriter = "*"
pytest-md-report = "*"

[dev-packages]
black = "*"
pylint = "*"
flake8 = "*"
six = "*"
pytest = "*"
smtplib = "*"

[pipenv]
allow_prereleases = true

[scripts]
cover = "./scripts/cover.sh"
lint = "./scripts/lint.sh"
test = "./scripts/test.sh"
